.TodoInsert {
  position: relative;
  font-weight: 100;
}
input {
  width: 385px;
  padding: 10px;
  outline: none;
  border: none;
  color: gray;
}
button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px;
  border: 1px solid rgb(15, 15, 140);
  border-radius: 4px;
  background: rgba(15, 15, 140, 0.2);
  color: rgb(15, 15, 140);
  outline: none;
}
.reset {
  position: absolute;
  right: 48px;
  top: 0;
  background: none;
}
