.TodoItem {
  display: flex;
  position: relative;
  height: 40px;
  font-weight: 500;
  line-height: 37px;
}

.check {
  border-radius: 4px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(50, 21, 147);
  border-radius: 4px;
  color: gray;
}
.checked_text {
  color: #cccccc;
  text-decoration: line-through;
}

.text {
  margin-left: 5px;
}

.edit {
  margin-left: 190px;
  position: absolute;
  right: 48px;
  background: rgb(50, 21, 147);
  color: white;
}

.TodoItem + .TodoItem {
  margin-top: 10px;
}
