* {
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans KR', sans-serif;
}

button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px;
  border: 1px solid rgb(15, 15, 140);
  border-radius: 4px;
  background: rgba(15, 15, 140, 0.2);
  color: rgb(15, 15, 140);
  outline: none;
  font-size: 13px;
  font-weight: 500;
}

input {
  font-weight: 100;
  font-size: 13px;
}
